<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  </head>
  <body class="{{ page.layout | default: 'default' }}{% if page.classes %} {{ page.classes }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <main id="main" role="main">
      {{ content }}
    </main>

    {% include_cached footer.html %}
    <script src="{{ '/assets/js/books-tabs.js' | relative_url }}"></script>
  </body>
</html>

